package {{.Pkg}}

import (
	"sync"

	{{.Pkg}}Model "{{.Project}}/model/{{.Pkg}}"
	{{.Pkg}}Service "{{.Project}}/service/{{.Pkg}}"
	"github.com/khaosles/gtools2/components/g"
)

/*
   @File: {{.NameSnake}}_controller.go
   @Author: khaosles
   @Time: {{.Date}}
   @Desc: Automatic code generation
*/

var (
	{{.NameUpper}}Controller = new({{.Name}}Controller)
	once{{.NameUpper}}         sync.Once
)

type {{.Name}}Controller struct {
	g.BaseController[{{.Pkg}}Model.{{.NameUpper}} ]
	{{.Name}}Service {{.Pkg}}Service.{{.NameUpper}}Service
}

func init() {
	once{{.NameUpper}}.Do(func() {
		{{.NameUpper}}Controller = &{{.Name}}Controller{ {{.Name}}Service: {{.Pkg}}Service.New{{.NameUpper}}Service()}
	})
}

