package internal

import (
	"gorm.io/gorm"

	"{{.Project}}/model"
	"github.com/khaosles/gtools2/components/g"
)

/*
   @File: {{.NameSnake}}_mapper_impl.go
   @Author: khaosles
   @Time: {{.Date}}
   @Desc: Automatic code generation
*/

type {{.NameUpper}}MapperImpl struct {
	g.AbstractMapper[model.{{.NameUpper}}]
}

func New{{.NameUpper}}MapperImpl(db *gorm.DB) *{{.NameUpper}}MapperImpl {
	var {{.Name}}MapperImpl {{.NameUpper}}MapperImpl
	{{.Name}}MapperImpl.DB = db
	return &{{.Name}}MapperImpl
}
