package {{.Pkg}}

import (
	"sync"
	
	{{.Pkg}}Model "{{.Project}}/model/{{.Pkg}}"
	"github.com/khaosles/gtools2/components/g"
	gerr "github.com/khaosles/gtools2/utils/err"
)


/*
   @File: {{.NameSnake}}_mapper.go
   @Author: khaosles
   @Time: {{.Date}}
   @Desc: Automatic code generation
*/

var (
    {{.Name}}MapperInstance {{.NameUpper}}Mapper
	once{{.NameUpper}}      sync.Once
)

type {{.NameUpper}}Mapper interface {
	g.Mapper[{{.Pkg}}Model.{{.NameUpper}}]
}

func Get{{.NameUpper}}MapperInstance() {{.NameUpper}}Mapper {
    if {{.Name}}MapperInstance == nil {
        panic(gerr.NotImplementedException.New("{{.NameUpper}}Mapper not implemented."))
    }
	return {{.Name}}MapperInstance
}

func Inject{{.NameUpper}}Mapper({{.Name}}Mapper {{.NameUpper}}Mapper) {
	once{{.NameUpper}}.Do(func() {
		if {{.Name}}MapperInstance == nil {
			{{.Name}}MapperInstance = {{.Name}}Mapper
		}
	})
}
