package {{.Pkg}}

import (
	"sync"
	
    "{{.Project}}/mapper"
    "{{.Project}}/mapper/internal"
	{{.Pkg}}Model "{{.Project}}/model/{{.Pkg}}"
	"github.com/khaosles/gtools2/components/g"
)


/*
   @File: {{.NameSnake}}_mapper.go
   @Author: khaosles
   @Time: {{.Date}}
   @Desc: Automatic code generation
*/

var (
    {{.Name}}MapperInstance {{.NameUpper}}Mapper
	once{{.NameUpper}}      sync.Once
)

type {{.NameUpper}}Mapper interface {
	g.Mapper[{{.Pkg}}Model.{{.NameUpper}}]
}

func New{{.NameUpper}}Mapper() {{.NameUpper}}Mapper {
	once{{.NameUpper}}.Do(func() {
        if {{.Name}}MapperInstance == nil {
            {{.Name}}MapperInstance = internal.New{{.NameUpper}}MapperImpl(mapper.NewDB())
        }
    })
	return {{.Name}}MapperInstance
}
