package internal

import (
	{{.Pkg}}Mapper "{{.Project}}/mapper/{{.Pkg}}"
	{{.Pkg}}Model "{{.Project}}/model/{{.Pkg}}"
	{{.Pkg}}Service "{{.Project}}/service/{{.Pkg}}"
	"github.com/khaosles/gtools2/components/g"
)

/*
   @File: {{.NameSnake}}_service_impl.go
   @Author: khaosles
   @Time: {{.Date}}
   @Desc: Automatic code generation
*/

type {{.NameUpper}}ServiceImpl struct {
	g.BaseService[{{.Pkg}}Model.{{.NameUpper}}]
}


func init() {
	{{.Pkg}}Service.Inject{{.NameUpper}}Service(New{{.NameUpper}}ServiceImpl({{.Pkg}}Mapper.Get{{.NameUpper}}MapperInstance()))
}

func New{{.NameUpper}}ServiceImpl({{.Name}}Mapper {{.Pkg}}Mapper.{{.NameUpper}}Mapper) *{{.NameUpper}}ServiceImpl {
	var {{.Name}}ServiceImpl {{.NameUpper}}ServiceImpl
	{{.Name}}ServiceImpl.Mapper = {{.Name}}Mapper
	return &{{.Name}}ServiceImpl
}
