package {{.Pkg}}

import (
	"sync"

	{{.Pkg}}Mapper "{{.Project}}/mapper/{{.Pkg}}"
	{{.Pkg}}Model "{{.Project}}/model/{{.Pkg}}"
	"{{.Project}}/service/internal"
	"github.com/khaosles/gtools2/components/g"
)

/*
   @File: {{.NameSnake}}_service.go
   @Author: khaosles
   @Time: {{.Date}}
   @Desc: Automatic code generation
*/

var (
    {{.Name}}ServiceInstance {{.NameUpper}}Service
	once{{.NameUpper}}       sync.Once
)

type {{.NameUpper}}Service interface {
	g.Service[{{.Pkg}}Model.{{.NameUpper}}]
}

func New{{.NameUpper}}Service() {{.NameUpper}}Service {
    once{{.NameUpper}}.Do(func() {
        if {{.Name}}ServiceInstance == nil {
            {{.Name}}ServiceInstance = internal.New{{.NameUpper}}ServiceImpl(mapper.New{{.NameUpper}}Mapper())
        }
    })
	return {{.Name}}ServiceInstance
}
