package internal

import (
	"{{.Project}}/mapper"
	"{{.Project}}/model"
	"github.com/khaosles/gtools2/components/g"
)

/*
   @File: {{.Name}}_service_impl.go
   @Author: khaosles
   @Time: {{.Date}}
   @Desc: Automatic code generation
*/

type {{.NameUpper}}ServiceImpl struct {
	g.AbstractService[model.{{.NameUpper}}]
}

func New{{.NameUpper}}ServiceImpl({{.Name}}Mapper mapper.{{.NameUpper}}Mapper) *{{.NameUpper}}ServiceImpl {
	var {{.Name}}ServiceImpl {{.NameUpper}}ServiceImpl
	{{.Name}}ServiceImpl.Mpr = {{.Name}}Mapper
	return &{{.Name}}ServiceImpl
}
